:root {
    --bodybgcolor: #334756;
    --hovernav   : #FEE440;
    --headerbgc  : #082032;
    --softtitle  : #69DADB;
    --headertxtc : #F9F7F7;
    --footerbgc  : #2B2B2B;
    --footertxtc : #AAAAAA;
}

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    font-family: "Oswald", sans-serif;
    background : #243B55;
    font-size  : 16px;
}

.container-fluid {
    width       : 100%;
    padding-left: 50px;
}

.go-home {
    margin-left  : 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding      : 5px;
    font-size    : 20px;
    text-align   : center;
    background   : var(--headerbgc);
    border       : 2px solid #f9f7f7;
}

.go-home a {
    color          : var(--headertxtc);
    text-decoration: none;
}

.go-home-wrap {
    display        : inline-block;
    justify-content: center;
}

.fadein {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1032px) {
    .container-fluid {
        padding: 10px;
    }
}

@media (max-width: 355px) {}